/* AllGoals.css */
.all-goals {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.all-goals p {
    font-size: 30px;
    
}

.all-goals textarea {
    margin-top: 6%;
    width: 60%;
    height: 200px;
    padding-left: 50px;
    margin-left: 7%;
}

.all-goals ul {
    list-style-type: none;
    padding: 0;
}

.all-goals li {
    margin: 10px 0;
}

.all-goals button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

.all-goals button:hover {
    background-color: #333;
}
